* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.Main {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main h1 {
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 50px;

}

#Main-panel{
    border-radius: 10px;
    width: 80%;
    height: 80%;
    background-color: rgb(131, 131, 218);

}

#top-Panel{
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-color: rgb(46, 46, 104);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
    gap: 10px;
}

.box{
    display: flex;
    justify-content: center;
    color: #000;
    font-weight: 600;
    border-radius: 2px;
    background-color: white;
    padding: 10px;
}

#btm-Panel{
    width: 100%;
    height: calc(100% - 100px);
    background-color: red;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   flex-wrap: wrap;
   gap: 10px;
   overflow: hidden;
   
}

.bubble{
    color: #000;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.bubble:hover{
    background-color: wheat;
}